.resultado
{
	background-color: red;
	text-align: left;
	width: 100%;
}
.boton1
{
	background-color: pink;
	width: 50%;
	float: center;
}
.boton2
{
	background-color: yellow;
	width: 50%;
	float: center;
}
.boton3
{
	background-color: purple;
	width: 50%;
	float: center;
}
.boton4
{
	background-color: green;
	width: 50%;
	float: center;
}
.fondo
{
	background-color:orange ;
}
.caja1
{
	background-color: lime;
	width: 30%;
	float: center;
}
.caja2
{
	background-color: lime;
	width: 30%;
	float: center;
}