.Encabezado
{
	background-color: purple;
	border:2px solid black;
	text-align: center;
}
.imagen
{
	width: 50%;
	background-color: orange;
	float: left;
	border-radius:50%;
	
}
.Informacion
{
	width: 50%;
	background-color: pink;
	float: right;
}
.datos
{
	font-size: 5;
	color: blue
}
.Contactame
{
	width: 100%;
	background-color: green;
	font-size: 2;
}
